@media (max-width: 480px) {
  .slider .slick-prev {
    left: -15px;
    top: 35%; }
  .slider .slick-next {
    right: -15px;
    top: 35%; }
  .wrapper .tab {
    padding-left: 7px;
    padding-right: 7px; }
  .statistic-item {
    width: 100% !important;
    margin-bottom: 70px; }
  .client-item {
    margin-left: auto;
    margin-right: auto; }
  .contact-address, #contact-form {
    padding: 40px; }
  .popup-fast {
    max-width: 285px;
    padding: 10px; }
  #contact-form .btn {
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 570px) {
  .header-buttons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .header-buttons .btn {
      margin-left: auto;
      margin-right: auto; }
  .white-btn {
    margin-left: 0; }
  .slider .slick-prev:before {
    content: url(../img/left-arrow-mobile.jpg); }
  .slider .slick-prev:hover:before, .slider .slick-prev:active:before,
  .slider .slick-prev:focus:before {
    opacity: 1;
    content: url(../img/left-arrow-2-mobile.png); }
  .slider .slick-next:before {
    content: url(../img/right-arrow-mobile.jpg); }
  .slider .slick-next:hover:before, .slider .slick-next:active:before,
  .slider .slick-next:focus:before {
    opacity: 1;
    content: url(../img/right-arrow-2-mobile.png); } }

@media (min-width: 500px) and (max-width: 767px) {
  .pricing-item {
    padding-left: 70px;
    padding-right: 70px; } }

@media (min-width: 480px) and (max-width: 840px) {
  .slider .slick-prev {
    left: 10px;
    top: 35%; }
  .slider .slick-next {
    right: 10px;
    top: 35%; } }

@media (max-width: 767px) {
  .case-study-items {
    margin-top: 0; }
  .case-study-item {
    width: 100%;
    position: static;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    box-shadow: none;
    padding-top: 0; }
  .case-study-items-img {
    width: 100%; }
    .case-study-items-img img {
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .statistic-item {
    width: 50%; }
  .promo-title {
    line-height: 43px; }
  .social-list, .footer-text {
    justify-content: center; }
  #scrollUp {
    width: 35px;
    height: 35px;
    bottom: 25px;
    right: 5px; } }

@media (max-width: 840px) {
  .home {
    padding-top: 100px; }
  .pre-title-text {
    font-size: 20px; }
  .title {
    letter-spacing: 0;
    font-size: 50px; } }

@media (max-width: 991px) {
  section {
    padding-top: 100px !important;
    padding-bottom: 70px !important; }
  .main-nav {
    display: none; }
  .touch-menu {
    display: block; }
  .main-nav__link {
    font-size: 18px;
    margin-right: 20px;
    display: block;
    border: none;
    padding: 0 0 10px 0;
    text-align: center; }
    .main-nav__link:first-of-type {
      margin-top: 20px; }
    .main-nav__link:last-of-type {
      margin-right: 20px; }
    .main-nav__link:hover {
      border: none; }
  .monitor-img {
    text-align: center;
    margin-bottom: 40px; }
  .h2 {
    text-align: center;
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .services .icon-wrap {
    top: -90px;
    justify-content: center;
    left: 0; }
  .service-item {
    margin-top: 150px; }
  .service-img {
    display: none; }
  .statistics {
    padding-bottom: 45px !important; }
  .statistic-list {
    justify-content: space-around; }
  .team {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
  .svg {
    display: none; }
  .team-item {
    position: static;
    display: inline-block;
    margin-top: 70px; }
    .team-item:hover .team-item-circle {
      width: 90px;
      height: 90px; }
      .team-item:hover .team-item-circle::before {
        display: none; }
  .team-item-circle {
    width: 90px;
    height: 90px; }
  .team-item-description {
    position: static;
    display: block;
    margin-top: 25px; }
  .blog-item {
    flex-direction: column; }
  .blog-item-img {
    order: 1; }
  .blog-item-description {
    order: 2; }
  svg.triangle {
    display: none; }
  svg.responsive-triangle {
    display: block; } }

@media (min-width: 992px) and (max-width: 1023px) {
  .services .icon-wrap {
    right: -18.5%; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .main-nav__link {
    margin-right: 30px; }
  .slider .slick-prev {
    left: 10px; }
  .slider .slick-next {
    right: 10px; }
  .team-item-first {
    bottom: 180px;
    left: 160px; }
    .team-item-first:hover {
      bottom: 165px; }
  .team-item-second {
    bottom: 247px;
    left: 390px; }
    .team-item-second:hover {
      bottom: 232px; }
  .team-item-third {
    bottom: 288px;
    left: 600px; }
    .team-item-third:hover {
      bottom: 280px; }
  .team-item-fourth {
    bottom: 306px;
    left: 830px; }
    .team-item-fourth:hover {
      bottom: 291px; } }

@media (min-width: 1024px) {
  .home {
    padding-top: 100px; } }

@media (min-width: 1200px) and (max-width: 1300px) {
  .services .icon-wrap {
    right: -18.5%; } }

@media (min-width: 1300px) and (max-width: 1440px) {
  .services .icon-wrap {
    right: -19.5%; } }

@media (min-width: 1367px) {
  .home {
    padding-top: 230px; } }

@media (min-width: 1440px) and (max-width: 1680px) {
  .services .icon-wrap {
    right: -21.5%; }
  .team-item-first {
    bottom: 230px;
    left: 320px; }
    .team-item-first:hover {
      bottom: 215px; }
  .team-item-second {
    bottom: 300px;
    left: 685px; }
    .team-item-second:hover {
      bottom: 285px; }
  .team-item-third {
    bottom: 295px;
    left: 975px; }
    .team-item-third:hover {
      bottom: 280px; }
  .team-item-fourth {
    bottom: 263px;
    left: 1292px; }
    .team-item-fourth:hover {
      bottom: 248px; } }

@media (min-width: 1680px) and (max-width: 1920px) {
  .team-item-first {
    bottom: 250px;
    left: 392px; }
    .team-item-first:hover {
      bottom: 235px; }
  .team-item-second {
    bottom: 280px;
    left: 1072px; }
    .team-item-second:hover {
      bottom: 265px; }
  .team-item-third {
    bottom: 305px;
    left: 775px; }
    .team-item-third:hover {
      bottom: 293px; }
  .team-item-fourth {
    bottom: 308px;
    left: 1492px; }
    .team-item-fourth:hover {
      bottom: 293px; } }

@media (min-width: 1681px) and (max-width: 1800px) {
  .services .icon-wrap {
    right: -22.5%; } }

@media (min-width: 1801px) and (max-width: 2000px) {
  .services .icon-wrap {
    right: -23.5%; } }

@media (min-width: 1920px) {
  .blog-item {
    margin-bottom: 0; }
    .blog-item:nth-of-type(2n) .blog-item-img, .blog-item:nth-of-type(2n-1) .blog-item-img {
      order: 1; }
    .blog-item:nth-of-type(2n) .blog-item-description, .blog-item:nth-of-type(2n-1) .blog-item-description {
      order: 2; }
    .blog-item:nth-of-type(2n) svg.triangle, .blog-item:nth-of-type(2n-1) svg.triangle {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
    .blog-item:nth-of-type(3n) .blog-item-img, .blog-item:nth-of-type(3n+4) .blog-item-img {
      order: 2; }
    .blog-item:nth-of-type(3n) .blog-item-description, .blog-item:nth-of-type(3n+4) .blog-item-description {
      order: 1; }
    .blog-item:nth-of-type(3n) svg.triangle, .blog-item:nth-of-type(3n+4) svg.triangle {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); } }

@media (min-width: 2000px) and (max-width: 2200px) {
  .services .icon-wrap {
    right: -24.5%; } }

@media (min-width: 2200px) and (max-width: 2400px) {
  .services .icon-wrap {
    right: -25.5%; } }

@media (min-width: 2400px) and (max-width: 2600px) {
  .services .icon-wrap {
    right: -28.5%; } }
